In [3]:
%pip install numpy pandas tqdm scikit-learn matplotlib seaborn ucimlrepo

Requirement already satisfied: numpy in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: pandas in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: tqdm in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (4.67.1)
Requirement already satisfied: scikit-learn in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (1.7.2)
Requirement already satisfied: matplotlib in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: seaborn in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (0.13.2)
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=3 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: certifi>=2020.12.5 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from ucimlrepo) (2025.10.5)
Requirement already satisfied: six>=1.5 in /Users/uvuv/DL_Algorithms/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [25]:
from ucimlrepo import fetch_ucirepo 
import numpy as np
import pandas as pd

steel_industry_energy_consumption = fetch_ucirepo(id=851) 
  
X = steel_industry_energy_consumption.data.features 
y = steel_industry_energy_consumption.data.targets 
  
day_mapping = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}
X['Day_of_week'] = X['Day_of_week'].map(day_mapping)
X['Day_sin'] = np.sin(2 * np.pi * X['Day_of_week'] / 7)
X['Day_cos'] = np.cos(2 * np.pi * X['Day_of_week'] / 7)
X = pd.get_dummies(X, columns=['WeekStatus'])
y = pd.get_dummies(y, columns=["Load_Type"])

/var/folders/2k/j64djv5131g0m2v23qm8g2lm0000gn/T/ipykernel_96738/1992521999.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Day_of_week'] = X['Day_of_week'].map(day_mapping)
/var/folders/2k/j64djv5131g0m2v23qm8g2lm0000gn/T/ipykernel_96738/1992521999.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Day_sin'] = np.sin(2 * np.pi * X['Day_of_week'] / 7)

In [26]:
X

,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,Day_of_week,Day_sin,Day_cos,WeekStatus_Weekday,WeekStatus_Weekend
0,3.17,2.95,0.00,0.0,73.21,100.00,900,0,0.0,1.0,True,False
1,4.00,4.46,0.00,0.0,66.77,100.00,1800,0,0.0,1.0,True,False
2,3.24,3.28,0.00,0.0,70.28,100.00,2700,0,0.0,1.0,True,False
3,3.31,3.56,0.00,0.0,68.09,100.00,3600,0,0.0,1.0,True,False
4,3.82,4.50,0.00,0.0,64.72,100.00,4500,0,0.0,1.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
35035,3.85,4.86,0.00,0.0,62.10,100.00,82800,0,0.0,1.0,True,False
35036,3.74,3.74,0.00,0.0,70.71,100.00,83700,0,0.0,1.0,True,False
35037,3.78,3.17,0.07,0.0,76.62,99.98,84600,0,0.0,1.0,True,False
35038,3.78,3.06,0.11,0.0,77.72,99.96,85500,0,0.0,1.0,True,False
35039,3.67,3.02,0.07,0.0,77.22,99.98,0,0,0.0,1.0,True,False

In [33]:
y

       Load_Type_Light_Load  Load_Type_Maximum_Load  Load_Type_Medium_Load
0                      True                   False                  False
1                      True                   False                  False
2                      True                   False                  False
3                      True                   False                  False
4                      True                   False                  False
...                     ...                     ...                    ...
35035                  True                   False                  False
35036                  True                   False                  False
35037                  True                   False                  False
35038                  True                   False                  False
35039                  True                   False                  False

[35040 rows x 3 columns]

In [29]:
X_all = X.to_numpy(dtype=np.float32)
y_all = y.to_numpy(dtype=np.int8)

In [32]:
(X_all.shape, y_all.shape)

((35040, 12), (35040, 3))

In [34]:
split_idx = int(0.8 * len(X_all))

X_train = X_all[:split_idx]
X_test = X_all[split_idx:]
y_train = y_all[:split_idx]
y_test = y_all[split_idx:]